/*index*/

* {
    padding: 0%;
    margin: 0%;
}

nav ul {
    background-color: rgb(83, 175, 255);
    width: 100%;
    text-align: center;
}
nav li {
    display: inline-flex;
}
nav a {
    text-decoration: none;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
    width: 150px;
}
nav li:hover{
    background-color: rgb(251, 156, 240);
}
body{
    background-color: rgb(119, 190, 252);
}

.titulo{
    font-family: 'Fredoka One', sans-serif;
    text-transform: uppercase;
    font-size: 35px;
    text-align: center;
    padding: 10px;
    color:rgb(0, 37, 132)
}

.descripcion{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-align: center;
    padding: 20px;
}

/**/

.contenido {
    display: flex;
    margin: 50px;
}

.opciones a {
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 25px;
}

.opciones a:hover{
    color:  rgb(15, 15, 203);
}

.fondo {
    background-image: url(images/carta.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.cartauno li {
    width: 150px;
    margin: 50px;
    display: inline-flex;
}

.cartauno a {
    text-decoration: none;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}

.cartauno h1 {
    color: black;
    font-family: "Brush Script MT";
    font-size: 500%;
    margin: 0%;
    padding: 20px;
    left: 20px;
}

.cartauno p {
    font-family: "Brush Script MT";
    font-size: 550%;
    margin: 30px;
    left: 20px;
}