* {
    padding: 0%;
    margin: 0%;
}

nav ul {
    background-color: rgb(83, 175, 255);
    width: 100%;
    text-align: center;
}
nav li {
    display: inline-flex;
}
nav a {
    text-decoration: none;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
    width: 150px;
}
nav li:hover{
    background-color: rgb(251, 156, 240);
}
body{
    background-color: rgb(119, 190, 252);
}

.contenido {
    display: flex;
    margin: 50px;
}

.opciones a {
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 25px;
}

.opciones a:hover{
    color:  rgb(15, 15, 203);
}

